@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 15px 20px;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

li a {
    display: block;
    color: #212121;
    text-decoration: none;
    transition: all 0.4s ease;
}

li a:hover,
li a.active {
    color: #ff6c47;
}

.manu-link {
    background: #ebe9e9;
}